
 
 table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
  th,td{
    padding: 10px;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }
  section {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;

  }

  h3{
    font-size: xx-large;
  }
  h5{
    font-size: medium;
  }
  
  /*Css*/

  section{
    width: 50%;
    margin-left: 25%;
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
    box-shadow: -1px 11px 20px 0px;
  }
